# Data Analysis

>Importing libraries

In [1]:
import pandas as pd
import numpy as np
import pandasql as ps
from pandasql import sqldf
import ast
import random
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import BayesianRidge
from sklearn import preprocessing
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB

# Data Cleaning & Transformation

>Importing and viewing the fashion dataset

In [2]:
fashion_dataset= pd.read_csv(r".\fashion dataset.csv")
fashion_dataset

,p_id,name,price,colour,brand,ratingCount,avg_rating,description,p_attributes
0,1518329.0,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,Dupatta Bazaar,1321.0,4.548827,White embroidered&nbsp;dupattaChiffon<br>Hand-...,"{'Occasion': 'Daily', 'Pattern': 'Embroidered'..."
1,5829334.0,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,Roadster,5462.0,4.313255,"Mustard yellow solid sweatshirt, has a hood, t...","{'Body Shape ID': '443,424,324', 'Body or Garm..."
2,10340119.0,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,Inddus,145.0,4.068966,Peach-Coloured and beige woven design unstitch...,"{'Bottom Fabric': 'Cotton Blend', 'Bottom Patt..."
3,10856380.0,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,SASSAFRAS,9124.0,4.147523,"Black solid woven high-rise parallel trousers,...","{'Add-Ons': 'NA', 'Body Shape ID': '424', 'Bod..."
4,12384822.0,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,Kotty,12260.0,4.078467,"Black dark wash 4-pocket high-rise jeans, clea...","{'Add-Ons': 'NA', 'Brand Fit Name': 'NA', 'Clo..."
...,...,...,...,...,...,...,...,...,...
14324,17029604.0,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,The Chennai Silks,NaN,NaN,<b>Design Details </b><ul><li>Pink and silver-...,"{'Better Cotton Initiative': 'Regular', 'Blous..."
14325,17600212.0,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,Kinder Kids,NaN,NaN,"Blue and green printed lehenga choli, has foi...","{'Blouse Closure': 'NA', 'Blouse Fabric': 'Cot..."
14326,18159266.0,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,KLOTTHE,NaN,NaN,<ul> <li> Green and black woven palazzos </li>...,{'Body or Garment Size': 'To-Fit Denotes Body ...
14327,18921114.0,InWeave Women Red Printed A-Line Skirt,2399.0,Red,InWeave,NaN,NaN,"<p>Red printed A-line skirt, has drawstring cl...","{'Add-Ons': 'NA', 'Body Shape ID': '324,333,42..."
14328,19361058.0,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,BoStreet,NaN,NaN,<ul> <li> Navy blue knitted trousers </li> <li...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,42..."

>Finding the number of unique brands in the fashion dataset

In [3]:
len(pd.unique(fashion_dataset['brand']))

1021

>Importing the brand details dataset

In [4]:
brand_details = pd.read_excel(r".\fashion brand details.xlsx")
brand_details

      brand_id    brand_name
0            1           513
1            2          109F
2            3     20Dresses
3            4   250 Designs
4            5          3Pin
...        ...           ...
1015      1016  Ziva Fashion
1016      1017        Zivame
1017      1018         Ziyaa
1018      1019        Zoella
1019      1020          Zola

[1020 rows x 2 columns]

>Counting the number of unique brand names in the brand details dataset

In [5]:
len(pd.unique(brand_details['brand_name']))

1020

>Finding the number of null and duplicated values in each dataset

In [6]:
brand_details.isna().sum()

brand_id      0
brand_name    0
dtype: int64

In [7]:
fashion_dataset.isna().sum()

p_id              18
name              19
price             19
colour            22
brand             24
ratingCount     7748
avg_rating      7748
description       19
p_attributes      19
dtype: int64

In [8]:
brand_details.duplicated().sum()

0

In [9]:
fashion_dataset.duplicated().sum()

59

>Testing out duplicate dropping

In [10]:
df_dupl = fashion_dataset.drop_duplicates(keep = "last")
len(pd.unique(df_dupl["brand"]))

1021

>Dropping duplicates in fashion dataset

In [11]:
fashion_dataset.drop_duplicates(inplace = True, keep = "last")
fashion_dataset

,p_id,name,price,colour,brand,ratingCount,avg_rating,description,p_attributes
0,1518329.0,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,Dupatta Bazaar,1321.0,4.548827,White embroidered&nbsp;dupattaChiffon<br>Hand-...,"{'Occasion': 'Daily', 'Pattern': 'Embroidered'..."
1,5829334.0,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,Roadster,5462.0,4.313255,"Mustard yellow solid sweatshirt, has a hood, t...","{'Body Shape ID': '443,424,324', 'Body or Garm..."
2,10340119.0,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,Inddus,145.0,4.068966,Peach-Coloured and beige woven design unstitch...,"{'Bottom Fabric': 'Cotton Blend', 'Bottom Patt..."
3,10856380.0,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,SASSAFRAS,9124.0,4.147523,"Black solid woven high-rise parallel trousers,...","{'Add-Ons': 'NA', 'Body Shape ID': '424', 'Bod..."
4,12384822.0,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,Kotty,12260.0,4.078467,"Black dark wash 4-pocket high-rise jeans, clea...","{'Add-Ons': 'NA', 'Brand Fit Name': 'NA', 'Clo..."
...,...,...,...,...,...,...,...,...,...
14324,17029604.0,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,The Chennai Silks,NaN,NaN,<b>Design Details </b><ul><li>Pink and silver-...,"{'Better Cotton Initiative': 'Regular', 'Blous..."
14325,17600212.0,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,Kinder Kids,NaN,NaN,"Blue and green printed lehenga choli, has foi...","{'Blouse Closure': 'NA', 'Blouse Fabric': 'Cot..."
14326,18159266.0,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,KLOTTHE,NaN,NaN,<ul> <li> Green and black woven palazzos </li>...,{'Body or Garment Size': 'To-Fit Denotes Body ...
14327,18921114.0,InWeave Women Red Printed A-Line Skirt,2399.0,Red,InWeave,NaN,NaN,"<p>Red printed A-line skirt, has drawstring cl...","{'Add-Ons': 'NA', 'Body Shape ID': '324,333,42..."
14328,19361058.0,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,BoStreet,NaN,NaN,<ul> <li> Navy blue knitted trousers </li> <li...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,42..."

> Expanding the p_attributes column

In [12]:
fashion_dataset['p_attributes'] = fashion_dataset['p_attributes']
not_null = pd.notnull(fashion_dataset['p_attributes'])
fash3 = fashion_dataset[not_null]['p_attributes'].apply(lambda x: ast.literal_eval(x))
temp = pd.DataFrame([*fash3], fash3.index)
fashion_dataset = pd.concat([fashion_dataset, temp], axis=1)

>Viewing all columns of the dataset

In [13]:
print(list(fashion_dataset.columns))

['p_id', 'name', 'price', 'colour', 'brand', 'ratingCount', 'avg_rating', 'description', 'p_attributes', 'Occasion', 'Pattern', 'Print or Pattern Type', 'Body Shape ID', 'Body or Garment Size', 'Closure', 'Fabric', 'Hemline', 'Hood', 'Length', 'Neck', 'Number of Pockets', 'Pocket', 'Sleeve Length', 'Surface Styling', 'Type', 'Wash Care', 'Bottom Fabric', 'Bottom Pattern', 'Dupatta Border', 'Dupatta Fabric', 'Dupatta Pattern', 'Kurta Fabric', 'Kurta Pattern', 'Ornamentation', 'Set Content', 'Stitch', 'Technique', 'Add-Ons', 'Brand Fit Name', 'Character', 'Fabric 2', 'Features', 'Fit', 'Fly Type', 'Main Trend', 'Multipack Set', 'Sustainable', 'Type of Pleat', 'Waist Rise', 'Weave Type', 'Distress', 'Effects', 'Fabric 3', 'Fade', 'Reversible', 'Shade', 'Stretch', 'Type of Distress', 'Waistband', 'Center Front Open', 'Fabric Type', 'Lining', 'Sleeve Styling', 'Transparency', 'taxMaterial', 'Front Styling', 'Knit or Woven', 'Sport', 'Technology', 'Blouse Closure', 'Blouse Fabric', 'Choli Stitch', 'Dupatta', 'Lehenga Closure', 'Lehenga Fabric', 'Lehenga Lining Fabric', 'Lehenga Stitch', 'Regions', 'Style Tip', 'Top Pattern', 'Where-to-wear', 'Bottom Closure', 'Bottom Type', 'Top Fabric', 'Top Type', 'Trends', 'Blouse', 'Border', 'Care for me', 'Saree Fabric', 'Collar', 'Lining Fabric', 'Pattern Coverage', 'Slit Detail', 'Top Design Styling', 'Top Hemline', 'Top Length', 'Top Shape', 'Weave Pattern', 'Design Styling', 'Shape', 'Sport Team', 'Technology Present', 'Sub Trend', 'Wedding', 'Fabric Purity', 'Fusion Wear', 'Pattern Size', 'Contact Brand or Retailer for pre-sales product queries', 'Colour Family', 'Collection Name', 'Better Cotton Initiative', 'About the Brand', 'How to care for your denim', 'What it does for your body']

>Renaming columns for use in SQL and MapReduce

In [14]:
fashion_dataset.rename(columns={'Where-to-wear':'Where_to_wear','Dupatta Pattern':'Dupatta_Pattern', 'Kurta Pattern':'Kurta_Pattern','Bottom Pattern': 'Bottom_Pattern', 'Top Pattern': 'Top_Pattern','Print or Pattern Type': 'Print_Pattern_Type', 'Knit or Woven':'Knit_or_Woven', 'Weave Type':'Weave_Type', 'Weave Pattern':'Weave_Pattern','Dupatta Fabric':'Dupatta_Fabric','Bottom Fabric':'Bottom_Fabric', 'Top Fabric':'Top_Fabric','Fabric Purity':'Fabric_Purity', 'Fabric Type':'Fabric_Type','Blouse Fabric':'Blouse_Fabric', 'Better Cotton Initiative':'Better_Cotton', 'Saree Fabric':'Saree_Fabric', 'Colour Family':'Colour_Family'}, inplace=True)

In [15]:
fashion_dataset['Kurta_Pattern'].isna().sum()

13657

In [16]:
fashion_dataset['Weave_Type'].isna().sum()

8923

In [17]:
fashion_dataset['Knit_or_Woven'].isna().sum()

12353

In [18]:
fashion_dataset['Weave_Pattern'].isna().sum()

13087

### Filling the Fabric column

In [19]:
pd.unique(fashion_dataset['Fabric'])

array([nan, 'Cotton', 'Polyester', 'Poly Crepe', 'Polyviscose',
       'Viscose Rayon', 'Wool', 'Pure Cotton', 'Cotton Blend',
       'Poly Chiffon', 'Linen', 'Poly Georgette', 'Georgette',
       'Silk Blend', 'Fleece', 'Net', 'Modal', 'Art Silk', 'Acrylic',
       'Other', 'Polycotton', 'Nylon', 'Denim', 'Leather', 'Velvet',
       'Liva', 'Poly Silk', 'Silk', 'Pure Silk', 'PU', 'Cotton Silk',
       'Corduroy', 'Organza', 'Viscose Georgette', 'Wool Blend',
       'Chiffon', 'Organic Cotton', 'Brocade', 'Faux Fur', 'Suede',
       'Satin', 'Pure Georgette', 'Chanderi Silk', 'Crepe', 'Tencel',
       'Elastane', 'Dupion', 'Jacquard', 'Synthetic Leather', 'Voile',
       'Dupion Silk', 'Velour', 'Pashmina', 'Pure Crepe', 'Lyocell',
       'Raw Silk', 'Polyester PU Coated', 'Hemp', 'Livaeco'], dtype=object)

In [20]:
sqldf("select count(Fabric) from fashion_dataset where Fabric = 'NA'")

   count(Fabric)
0              0

In [21]:
fashion_dataset['Fabric'].isna().sum()

3882

In [22]:
pd.unique(fashion_dataset['Bottom_Fabric'])

array([nan, 'Cotton Blend', 'Viscose Rayon', 'Pure Cotton', 'Satin',
       'Polyester', 'Poly Georgette', 'Shantoon', 'Silk Georgette',
       'Poly Crepe', 'Organic Cotton', 'Poly Silk', 'Silk Blend',
       'Art Silk', 'Pure Silk', 'Pure Wool', 'Poly Chiffon', 'Net',
       'Silk Crepe', 'Silk Chiffon', 'Linen', 'NA', 'Pashmina',
       'Jute Cotton', 'Nylon', 'Velvet', 'Voile'], dtype=object)

In [23]:
fashion_dataset['Bottom_Fabric'] = fashion_dataset['Bottom_Fabric'].where(fashion_dataset['Bottom_Fabric'] != 'NA', None)

In [24]:
pd.unique(fashion_dataset['Blouse_Fabric'])

array([nan, 'Viscose Rayon', 'Organza', 'Poly Silk', 'Silk Blend',
       'Cotton', 'Linen Blend', 'Poly Georgette', 'Pure Georgette',
       'Art Silk', 'Net', 'Silk', 'Satin', 'NA', 'Pure Silk', 'Polyester',
       'Brocade', 'Tissue', 'Cotton Blend', 'Silk Cotton', 'Velvet',
       'Poly Crepe', 'Pure Cotton', 'Raw Silk', 'Polycotton',
       'Pure Chiffon', 'Jute Silk', 'Poly Chiffon', 'Liva', 'Pure Crepe',
       'Pure Linen', 'Supernet', 'Jute Cotton'], dtype=object)

In [25]:
fashion_dataset['Blouse_Fabric'] = fashion_dataset['Blouse_Fabric'].where(fashion_dataset['Blouse_Fabric'] != 'NA', None)

In [26]:
pd.unique(fashion_dataset['Top_Fabric'])

array([nan, 'Cotton Blend', 'Viscose Rayon', 'Pure Cotton', 'Polyester',
       'Liva', 'Poly Crepe', 'Organic Cotton', 'Poly Silk', 'Silk Blend',
       'Poly Georgette', 'Art Silk', 'Pure Wool', 'Net', 'Silk Chiffon',
       'Linen', 'Poly Chanderi', 'Pure Silk', 'Chanderi Cotton',
       'Chanderi Silk', 'Acrylic', 'Silk Georgette', 'Nylon', 'Velvet',
       'Poly Chiffon', 'Voile'], dtype=object)

In [27]:
pd.unique(fashion_dataset['Fabric_Type'])

array([nan, 'Georgette', 'NA', 'Denim', 'Cotton', 'Lace', 'Crepe',
       'Chiffon', 'Cotton Cambric', 'Net', 'Dobby', 'Scuba', 'Satin',
       'Liva', 'Twill', 'Linen', 'Chambray', 'Velvet', 'Jacquard',
       'Corduroy', 'Schiffli', 'Terry'], dtype=object)

In [28]:
fashion_dataset['Fabric_Type'] = fashion_dataset['Fabric_Type'].where(fashion_dataset['Fabric_Type'] != 'NA', None)

In [29]:
fashion_dataset['Fabric'] = fashion_dataset['Fabric'].combine_first(fashion_dataset['Top_Fabric'])

In [30]:
fashion_dataset['Fabric'].isna().sum()

2708

In [31]:
fashion_dataset['Fabric'] = fashion_dataset['Fabric'].combine_first(fashion_dataset['Bottom_Fabric'])

In [32]:
fashion_dataset['Fabric'].isna().sum()

2076

In [33]:
fashion_dataset['Fabric'] = fashion_dataset['Fabric'].combine_first(fashion_dataset['Fabric_Type'])

In [34]:
fashion_dataset['Fabric'].isna().sum()

2025

In [35]:
fashion_dataset['Fabric'] = fashion_dataset['Fabric'].combine_first(fashion_dataset['Blouse_Fabric'])

In [36]:
fashion_dataset['Fabric'].isna().sum()

202

In [37]:
pd.unique(fashion_dataset['Better_Cotton'])

array([nan, 'Regular', 'Better Cotton Initiative'], dtype=object)

In [38]:
sqldf("select Better_Cotton from fashion_dataset where Fabric is null and Better_Cotton in('Better Cotton Initiative','Regular')")

  Better_Cotton
0       Regular
1       Regular
2       Regular

In [39]:
fashion_dataset['New_Cotton'] = fashion_dataset['Better_Cotton'].replace(['Regular', 'Better Cotton Initiative'], ['Cotton',None])

In [40]:
fashion_dataset['Fabric'] = fashion_dataset['Fabric'].combine_first(fashion_dataset['New_Cotton'])

In [41]:
fashion_dataset['Fabric'].isna().sum()

199

In [42]:
pd.unique(fashion_dataset['Dupatta_Fabric'])
fashion_dataset['Dupatta_Fabric'] = fashion_dataset['Dupatta_Fabric'].where(fashion_dataset['Dupatta_Fabric'] != 'NA', None)

In [43]:
sqldf("select Dupatta_Fabric from fashion_dataset where Dupatta_Fabric is not null and Fabric is null")

  Dupatta_Fabric
0            Net

In [44]:
sqldf("select Weave_Pattern, Fabric from fashion_dataset")

      Weave_Pattern         Fabric
0              None           None
1              None         Cotton
2              None   Cotton Blend
3              None           None
4              None         Cotton
...             ...            ...
14265          None    Jute Cotton
14266          None         Cotton
14267          None     Polycotton
14268          None  Viscose Rayon
14269          None          Nylon

[14270 rows x 2 columns]

In [45]:
fashion_dataset['Fabric'] = fashion_dataset['Fabric'].combine_first(fashion_dataset['Weave_Pattern'])

In [46]:
fashion_dataset['Fabric'] = fashion_dataset['Fabric'].combine_first(fashion_dataset['Dupatta_Fabric'])

In [47]:
fashion_dataset['Fabric'].isna().sum()

197

In [48]:
sqldf("select Saree_Fabric from fashion_dataset where Saree_Fabric is not null and Fabric is null")

      Saree_Fabric
0   Poly Georgette
1       Pure Linen
2      Pure Cotton
3     Cotton Blend
4     Cotton Blend
5       Pure Linen
6      Pure Cotton
7     Pure Chiffon
8     Poly Chiffon
9      Pure Cotton
10     Pure Cotton
11    Pure Chiffon
12     Pure Cotton
13         Organza
14    Cotton Blend
15      Polycotton
16      Polycotton
17     Pure Cotton
18      Pure Linen
19    Cotton Blend
20    Cotton Blend
21           Satin
22    Pure Chiffon
23         Organza
24       Polyester
25     Pure Cotton
26            Liva
27     Pure Cotton
28    Cotton Blend
29     Pure Cotton
30     Pure Cotton
31     Pure Cotton
32           Satin
33           Satin
34     Pure Cotton
35     Pure Cotton
36     Silk Cotton
37     Silk Cotton
38     Pure Cotton
39    Cotton Blend
40           Satin
41    Poly Chiffon
42           Nylon
43     Pure Cotton
44     Pure Cotton
45    Pure Chiffon
46    Cotton Blend
47     Pure Cotton
48    Cotton Blend
49     Pure Cotton
50     Pure Cotton
51    Pure Chiffon
52     Pure Cotton
53    Cotton Blend
54     Pure Cotton

In [49]:
fashion_dataset['Fabric'] = fashion_dataset['Fabric'].combine_first(fashion_dataset['Saree_Fabric'])

In [50]:
fashion_dataset['Fabric'].isna().sum()

142

In [51]:
fashion_dataset['Fabric'].mode()

0    Cotton
Name: Fabric, dtype: object

In [52]:
fashion_dataset.fillna({'Fabric':'Cotton'}, inplace=True)
fashion_dataset['Fabric'].isna().sum()

0

In [53]:
sqldf("select count(Fabric) from fashion_dataset where Fabric = 'NA'")

   count(Fabric)
0              0

### Viewing Weave Type & Knit or Woven

In [54]:
pd.unique(fashion_dataset['Weave_Type'])

array([nan, 'Woven', 'Machine Weave', 'Knitted', 'Knitted and Woven',
       'Velvet', 'Denim', 'Handloom', 'Lace', 'Chambray', 'Corduroy'],
      dtype=object)

In [55]:
pd.unique(fashion_dataset['Weave_Type'])

array([nan, 'Woven', 'Machine Weave', 'Knitted', 'Knitted and Woven',
       'Velvet', 'Denim', 'Handloom', 'Lace', 'Chambray', 'Corduroy'],
      dtype=object)

In [56]:
pd.unique(fashion_dataset['Knit_or_Woven'])

array([nan, 'Knitted', 'Knitted and Woven', 'Woven'], dtype=object)

In [57]:
pd.unique(fashion_dataset['Weave_Pattern'])

array([nan, 'Regular', 'Jacquard', 'Brocade', 'Dobby', 'Khadi'],
      dtype=object)

### Formatting Weave Pattern  and Weave Type to fill Knit or Woven

In [58]:
fashion_dataset['Weave_Pattern_2'] = fashion_dataset['Weave_Pattern'].replace(['Regular', 'Jacquard', 'Brocade', 'Dobby', 'Khadi'], ['Woven','Woven','Woven','Woven','Woven'])

In [59]:
pd.unique(fashion_dataset['Weave_Pattern_2'])

array([nan, 'Woven'], dtype=object)

In [60]:
fashion_dataset['Weave_Type_2'] = fashion_dataset['Weave_Type'].replace(['Machine Weave',
       'Velvet', 'Denim', 'Handloom', 'Lace', 'Chambray', 'Corduroy'], ['Woven','Woven','Woven','Woven','Knitted','Woven','Woven'])

In [61]:
pd.unique(fashion_dataset['Weave_Type_2'])

array([nan, 'Woven', 'Knitted', 'Knitted and Woven'], dtype=object)

### Filling Knit_or_Woven

In [62]:
fashion_dataset['Knit_or_Woven'] = fashion_dataset['Knit_or_Woven'].combine_first(fashion_dataset['Weave_Pattern_2'])

In [63]:
fashion_dataset['Knit_or_Woven'] = fashion_dataset['Knit_or_Woven'].combine_first(fashion_dataset['Weave_Type_2'])

In [64]:
fashion_dataset['Knit_or_Woven'].isna().sum()

7006

In [65]:
pd.unique(fashion_dataset['Knit_or_Woven'])

array([nan, 'Woven', 'Knitted', 'Knitted and Woven'], dtype=object)

In [66]:
len(pd.unique(fashion_dataset['Fabric']))

75

In [67]:
fabrics_knit = sqldf("select distinct Fabric from fashion_dataset where Knit_or_Woven = 'Knitted'")

In [68]:
fabrics_knit.isna().sum()

Fabric    0
dtype: int64

In [69]:
fabrics_weave = sqldf("select distinct Fabric from fashion_dataset where Knit_or_Woven = 'Woven'")

In [70]:
fabrics_weave.isna().sum()

Fabric    0
dtype: int64

In [71]:
fabrics_both = sqldf("select distinct Fabric from fashion_dataset where Knit_or_Woven = 'Knitted and Woven'")

In [72]:
fabrics_both.isna().sum()

Fabric    0
dtype: int64

In [73]:
knit_n_woven = sqldf("select * from fabrics_knit where fabrics_knit.Fabric in(select fabrics_weave.Fabric from fabrics_weave)")

In [74]:
knit_n_woven = sqldf("select * from knit_n_woven where Fabric not in ('Other')")
knit_n_woven

            Fabric
0           Cotton
1        Polyester
2            Denim
3      Pure Cotton
4     Cotton Blend
5    Viscose Rayon
6           Fleece
7          Acrylic
8            Linen
9            Nylon
10            Wool
11              PU
12      Silk Blend
13           Modal
14      Polycotton
15  Organic Cotton
16       Georgette
17           Satin
18            Silk
19        Jacquard
20           Suede
21            Liva
22        Corduroy

In [75]:
fabrics_both = sqldf("select * from fabrics_both where Fabric not in (select Fabric from knit_n_woven)")

In [76]:
both_fabrics = ps.sqldf("select * from knit_n_woven union all select * from fabrics_both")

In [77]:
both_fabrics.loc[:,'weave'] = 'Knitted and Woven'

In [78]:
fabrics_knit = sqldf("select * from fabrics_knit where Fabric not in (select Fabric from both_fabrics) and Fabric != 'Other'")
fabrics_knit.loc[:,['weave']]='Knitted'

In [79]:
fabrics_knit

   Fabric    weave
0   Scuba  Knitted
1  Velour  Knitted

In [80]:
fabrics_weave = sqldf("select * from fabrics_weave where Fabric not in (select Fabric from both_fabrics) and Fabric != 'Other'")
fabrics_weave.loc[:,['weave']]='Woven'

In [81]:
fabrics_weave

               Fabric  weave
0          Poly Crepe  Woven
1               Crepe  Woven
2           Poly Silk  Woven
3      Poly Georgette  Woven
4            Art Silk  Woven
5             Leather  Woven
6             Regular  Woven
7                 Net  Woven
8        Silk Chiffon  Woven
9         Cotton Silk  Woven
10             Velvet  Woven
11      Poly Chanderi  Woven
12          Pure Silk  Woven
13            Chiffon  Woven
14    Chanderi Cotton  Woven
15           Faux Fur  Woven
16     Pure Georgette  Woven
17      Chanderi Silk  Woven
18  Synthetic Leather  Woven
19     Silk Georgette  Woven
20        Dupion Silk  Woven
21         Pure Crepe  Woven
22       Poly Chiffon  Woven
23              Voile  Woven
24               Hemp  Woven
25            Livaeco  Woven

In [82]:
fabric_weave_type = sqldf("select * from fabrics_weave union all select * from fabrics_knit union all select * from both_fabrics")
fabric_weave_type

                 Fabric              weave
0            Poly Crepe              Woven
1                 Crepe              Woven
2             Poly Silk              Woven
3        Poly Georgette              Woven
4              Art Silk              Woven
5               Leather              Woven
6               Regular              Woven
7                   Net              Woven
8          Silk Chiffon              Woven
9           Cotton Silk              Woven
10               Velvet              Woven
11        Poly Chanderi              Woven
12            Pure Silk              Woven
13              Chiffon              Woven
14      Chanderi Cotton              Woven
15             Faux Fur              Woven
16       Pure Georgette              Woven
17        Chanderi Silk              Woven
18    Synthetic Leather              Woven
19       Silk Georgette              Woven
20          Dupion Silk              Woven
21           Pure Crepe              Woven
22         Poly Chiffon              Woven
23                Voile              Woven
24                 Hemp              Woven
25              Livaeco              Woven
26                Scuba            Knitted
27               Velour            Knitted
28               Cotton  Knitted and Woven
29            Polyester  Knitted and Woven
30                Denim  Knitted and Woven
31          Pure Cotton  Knitted and Woven
32         Cotton Blend  Knitted and Woven
33        Viscose Rayon  Knitted and Woven
34               Fleece  Knitted and Woven
35              Acrylic  Knitted and Woven
36                Linen  Knitted and Woven
37                Nylon  Knitted and Woven
38                 Wool  Knitted and Woven
39                   PU  Knitted and Woven
40           Silk Blend  Knitted and Woven
41                Modal  Knitted and Woven
42           Polycotton  Knitted and Woven
43       Organic Cotton  Knitted and Woven
44            Georgette  Knitted and Woven
45                Satin  Knitted and Woven
46                 Silk  Knitted and Woven
47             Jacquard  Knitted and Woven
48                Suede  Knitted and Woven
49                 Liva  Knitted and Woven
50             Corduroy  Knitted and Woven
51  Polyester PU Coated  Knitted and Woven

In [83]:
fashion_dataset = sqldf("select fashion_dataset.*, fabric_weave_type.weave from fashion_dataset left join fabric_weave_type on (fabric_weave_type.Fabric=fashion_dataset.Fabric)")

In [84]:
fashion_dataset['Knit_or_Woven'] = fashion_dataset['Knit_or_Woven'].combine_first(fashion_dataset['weave'])

In [85]:
fashion_dataset['Knit_or_Woven'].isna().sum()

509

### Filling Occasion

In [97]:
fashion_dataset['Occasion'].isna().sum()

1047

In [86]:
pd.unique(fashion_dataset['Occasion'])

array(['Daily', 'Casual', None, 'Party', 'Festive', 'Formal', 'Ethnic',
       'Fusion', 'Traditional', 'Western', 'Sports', 'Work', 'Outdoor',
       'Maternity'], dtype=object)

In [87]:
pd.unique(fashion_dataset['Where_to_wear'])

array([None, 'Look a cut above the rest at wedding festivities',
       'Ideal for daily or office wear', 'Fun weekends with friends',
       "Look stylish at your bestie's wedding party",
       'A weekend escape with friends',
       'A graceful look for a small family function',
       'Wedding, Party, Engagement, Reception, Haldi, Mehandi Occasion',
       'Wear it to a fun weekend party', 'Wedding',
       "Enjoy your sister's housewarming",
       'This Lengha Choli Set Can Be wear at Home For Small Function ,Get Together ,At Different Festivals &amp; In Party .',
       'Wear to fun destination weddings',
       'Casual, parties, regular, holiays, night out, work wear, formal, holidays',
       'Ideal to wear to a high-tea party with friends',
       'Ideal for a Saturday night outing', '',
       'Look gorgeous driving down to the beach',
       "Ideal for spending a relaxed day at your friend's wedding festivities",
       'Casual Fridays at work or lunch with friends',
       'Look classy at your lunch date', 'partywear',
       'Casual weekend outings', 'Ideal for a festive party',
       'Perfect for the upcoming festivities',
       'For a chill-out weekend with friends',
       "Visit your friend's place for a family function", 'fusion',
       'Go dancing with your besties',
       'Jazz up a fun family get-together', 'party,wedding',
       'party, casual, semi-formal', 'Versatile for an engagement party',
       'casual day', 'party wear', 'Host a small gathering at home',
       'Go window shopping with your bestie',
       "Perfect for your bestie's wedding reception",
       'Party, festive events, wedding, social gathering',
       "Wear for your bestie's sangeet get-together",
       'Casual weekends out with friends',
       'Engagement, Weddings, Sangeet and Haldi Ceremonies, Festivals, Valentine, Parties, Beauty &amp; Family Functions.',
       'Wedding Wear , Engagement Ceremony , Wedding Function , Party Wear , Festive Wear',
       'collage:function:marriage:outting:night:day:outdoor,parties ,dates, outting,business,temple, etc',
       'Wedding &amp; Party',
       'Pamper yourself with a shopping spree at the mall', 'casual',
       'Visit the mall with your squad',
       'Perfect pick for a vacation with friends or family',
       "Spice things up when you're having brunch with the gals",
       'Occasion: Casual and Ethnic Wear',
       'Wear it at any casual function', 'parties and festival',
       'Fitting for a visit to the beach',
       'Enjoy coffee dates with your partner', 'Run errands in style',
       'Stand out at any wedding reception', 'Weddding',
       'Perfect for casual day-time meetings',
       'Step out to party with the gang',
       'Perfect for a lunch or a coffee date',
       'Ideal for a late-night stroll',
       'Ideal for a chilled out evening with besties',
       'Visit your kittly party group',
       'Perfect for a fun weekend with friends',
       'Keep things casual on a coffee date',
       'wear this saree at party, wedding and ceremony',
       'Hang out at your favourite shack by the beach',
       'this skirt from the house of neudis looks classy and stands out. feel comfortable and confident with the soft yet luxurious feel of polyester which comes tassel details at the waist. looks great when paired with a plain, textured, or a printed top',
       'Perfect for any family outing',
       'Make your movie date at the multiplex more special',
       'Attend wedding festivities in style', 'For a hike with friends',
       'Fashion,Party Wear &amp; Function Wear &amp; Wedding Wear to Cloth',
       'Perfect for travelling with besties',
       'Perfect for a movie outing with gals',
       'Wear this ensemble to work everyday',
       "this pretty shrug by unaone is a piece that can be easily worn when you're in a rush and still look fab.",
       'Perfect for an outing with friends.',
       'Ideal for a haldi ceremony', 'ethnic occasion/ party',
       'casual, parties, regular, holiays, night out, work wear',
       'Evening', 'Wear to a kitty party function',
       'Enjoy an evening party',
       'Ideal for spending a weekend with your besties',
       'Stay comfortable at the movies', 'Party, Casual, Semi-Formal',
       'Rock a weekend coffee date', 'Attend a puja ceremony with family',
       'Hang out with friends at the mall',
       'Go on a shopping spree at the mall',
       'A fun Saturday out with besties',
       'Perfect for a bachelorette party',
       'casual &amp; formal, parties &amp; functions, events &amp; festivals, dates &amp; brunches &amp; good for all occasion',
       'Perfect for a lunch date with the gals', 'Party &amp; Festive',
       'Bring delight to festive celebrations',
       'For shopping sprees at the mall',
       'Impress the crowd at a wedding reception',
       'Ideal to wear to a traditional family ritual', 'weddings',
       'Perfect to wear to a kitty party',
       'Ideal to meet and greet your family at wedding functions',
       'Ideal for a date night with friends',
       'Fitting for last-minute excursions',
       'Catch up with your colleagues outside work',
       'Ideal for a casual brunch or lunch date', 'casual/ethnic',
       'Look stylish at a family wedding',
       'Ideal for an engagement party or a sangeet',
       'Ideal for a brunch with your family',
       'Make brunch more comfortable and stylish',
       'Perfect for a birthday celebration',
       'Ideal for a housewarming puja at home', 'Slay the weekend look',
       'Be the showstopper of the event when you wear this fashionable saree. This gorgeous saree features a solid pattern and velvet blouse piece to take your look to another level.',
       'Ideal for spending a day with the girls',
       'Enjoy a fun road trip with friends',
       'Turn heads on the dance floor',
       'Ideal for coffee, lunch, or brunch dates',
       'Add flair to your look on any casual outing',
       'Works for coffee, lunch or brunch dates', 'Party',
       'Brunch with the girls', 'Ideal for date night at the restaurant',
       'party', 'shopping', 'Ideal for a stroll around town',
       'Fitting for a movie night out with friends',
       'Catch lunch at a bistro with friends',
       'Look stylish singing karaoke at the club', 'date or dinner night',
       'casual, party, festive, traditional, work, wedding',
       'casual meetings with friends or your next coffee date!',
       'casual wear', 'fusion/ethnic', 'party,festive,traditional',
       'Party Wear, Bridemaids, Ceremonial',
       'Go for your morning jog in style',
       'Visit the mall on a summer afternoon',
       'ocassion:festive &amp; party', 'Enjoy a fun weekend with friends',
       'traditional', 'On a casual trip with family or friends',
       'you can wear this saree in daily wear', 'Grace a haldi ceremony',
       'Wedding, Ceremony, Family Function, Party Wear',
       'party,festival, wedding,etc', 'Casual', 'casual,party',
       'Perfect for a fun weekend getaway',
       'casual,formal,party,wedding,daily,festival',
       'Party &amp; Wedding', 'Step out in comfort to do your chores',
       'ofice, home, shoping', 'Grab a cup of coffee with your friends',
       'office/daily/home/parti', 'Ideal for stepping out to run errands',
       'For a memorable outing with besties',
       'Party, Festive, Hangout, Occasion, Get-together',
       'Look beautiful at a brunch date with your bestie',
       'Chill at the beach with the gang',
       'Add class to a weekend outing with friends',
       'Enjoy a coffe date with your partner',
       'college, evening outerwear, vacation',
       'Party Wear, Function Wear, Casual Wear',
       'Make a boat ride with your date classier',
       'Perfect for a weekend outing with colleagues',
       'this party wear saree from liberty lifestyle is sure to make you the centre of attention at any social gathering.',
       'At a semi-formal gathering with colleagues',
       'Look beautiful at a baby shower',
       'Just what you need for a road trip with the gang',
       'wear this jumpsuit with stylish sports shoes.',
       'Meet friends for a brunch date',
       'Prep your look for weekend brunch',
       'Go out for a low-key lunch with the gals',
       'Relax at home in style',
       'Perfect to catch up with family over brunch',
       'Fitting for a laid-back evening with your pals',
       'Wedding, Party ,Festive,Ceremony, Engagment',
       'Wedding,Festival And Party, Haldi Ceremony , Ring Ceremony',
       'This top-of-the-line jacket from armure is comfortable and easy to layer. Stay warm while heading out to the city with friends this weekend in this piece.',
       'where-to-wear',
       'casual, formal, official, parties, festivals &amp; events, holidays, lunch &amp; dinner, dates',
       "perfect for evening wear/dress shrug, dance/choir performances, halloween costume, club, night out, casual wear and so on. and this sequin shrug for women also can be used as gift for mother's day, birthday, holiday or other special day, anniversary. shinny and cute shrug, make you shine at night and stand out from the crowd.",
       'Wedding, Party, Engagement',
       'Party wear, Casual wear, Marrige Function, Festival',
       'casual, official, formal, parties, lunch &amp; dinner, holidays, regular',
       'summer wear', "Look beautiful at your best friend's wedding",
       'Perfect for a round of drinks with your besties',
       'Ideal for daily wear', 'Perfect for a pre-wedding photoshoot',
       'wrap up the look with a pair of slippers, sandals and shoes.',
       "Wear it to your best friend's wedding party",
       'A fun day out with the gals', 'Shopping with friends',
       'This Crop Top &amp; Skirt Set Can Be wear at Home For Small Function ,Get Together ,At Different Festivals &amp; In Party .',
       'Ideal for gracing a wedding function',
       'Turn heads at the next occasion or special event by donning this chic saree. The eye-catching solid pattern and solid border of this saree will add to your beauty.',
       'outdoor', 'Casual lunches or coffee dates',
       'Ideal for a walk along the shore', 'office,home',
       'Perfect to wear for a temple visit',
       'these can be wear at home, in park while playing &amp; everywhere .',
       'Perfect for grabbing coffee with your colleagues on a weekend',
       'these can be wear at birthday party ,fuctions, at home &amp; in parks',
       'Family lunches or house visits', 'Wear it at a party',
       'Connect with your long-lost buddies at brunch',
       'semi casual wear', 'Perfect for an impromptu weekend plan',
       'Bond with your colleagues over lunch or early drinks',
       'HNK-17905-XS', 'While chilling with your buddies at a cafe',
       'Pep up breakfast or coffee dates',
       'A classy pick for coffee or brunch', 'office, home, market',
       'Wedding Party &amp; Festivals',
       'wedding, party, engagement, reception, haldi, mehandi occasion',
       'with this must-have top from neudis you can set your tone for the season. put on this piece with a pair of dark, slim jeans and neutral pump heel for a casual but sophisticated date ensemble.',
       'Ideal for a date night at a restaurant',
       'An ideal choice for a day-time reception',
       'Dine out with your long-lost gals',
       'this solid jumpsuit from neudis is just perfect for a day out with friends when you want to look fashion-focused while keeping a relaxed style.',
       'Go to the beach with your squad', 'A quick run to the market',
       'The perfect wear for traditional wedding functions',
       'Bring ease and comfort to badminton and other games at the park',
       'Ideal for brunch with the squad',
       'wedding, Party, sangeet,Reception',
       'Stroll around the city with friends',
       'Catch up with your BFFs at your favourite hangout in the city',
       'party,wedding, anniversary,etc', 'Rock the weekend party look',
       'top', "Grace your bestie's birthday party",
       'party wear sarees , get together, wedding wear sarees , simple sari , etc',
       'Wear it while running casual errands',
       'hiking, climbing, ski, snow sports, casual lifestyle',
       'Grab coffee or lunch with friends', 'festive, casual',
       'Ideal for a fun photo session with the gang',
       'Get ready for your next fancy soiree with the girls',
       'Fitting for a much-awaited staycation',
       'Your birthday party will become more exciting',
       'Wedding, Party, Cocktail, Festival', 'Occasionally',
       'hiking, ski, snow sports, casual lifestyle',
       'Attend a family party in style', 'Look stylish for a work party',
       'Perfect for puja at home', 'Parties and Festival',
       'Look stylish at a baby shower',
       'A relaxed afternoon lunch date with besties',
       'Wear this to an outing with pals',
       'Ideal for a relaxing weekend outing',
       'Enjoy a visit to the temple with family',
       'Ideal for a fun outing with your besties',
       "Fitting for a festive get-together at a friend's place",
       'Weddings, Bridesmaids, Cocktail, Festive',
       'A lovely option for wedding receptions',
       'laasa parallel pants are perfect for party or on special ocaasions.',
       "Perfect for your friend's sangeet",
       'Make your vacation outing stylish',
       'Attend a festive occasion at work',
       'party,wedding,ethnic,evening,casual', 'Ideal for a beach outing',
       'Part &amp; Wedding', 'Chilled out evening with friends',
       'photoshoot,birthday parties',
       'wedding, parywear, traditional, festival',
       'Perfect for any wedding function', 'use in casual and western',
       'Go camping for a weekend', 'Ideal for a coffee meet with besties',
       'Occasion: Making it both Ethnic Wear and stylish provides comfort all day while maintaining style.',
       'Ethnic printed', 'casual, party,festive,traditional,work,wedding',
       'A stunning pick for a lunch or evening date',
       'Ideal for a visit to a coffee shop',
       'Add class to your neat office avatar',
       'Great pick for daily wear', 'Wear to a DJ night with friends',
       'Perfect for a housewarming get-together',
       'Slay the weekend brunch look', 'Perfect for an engagement party',
       'Perfect for a 90s theme party', 'na',
       'casual and formal wear, smart on ethnic kurtas and kurtis, western tops and tunics.',
       'Ideal for an evening jog at the park',
       'Wear it to an outing with your partner', 'party and cocktail',
       'casual wear::home wear::daily wear', 'Party,Festivals,Wedding',
       'Perfect for a lunch date with family',
       'Sunday brunch with the girls',
       'Fitting for a weekend dinner party', 'party, office',
       'wedding, patrywear, traditional, festival',
       'casual, daily, party, fusion wear', 'ethnic/casual',
       "comfortable yet stylish this trouser is a must have in your wardrobe for the days when you don't know what to wear. style this with chunky sneakers, a hoodie and backpack for a casual day out.",
       'Grab a bite with the family',
       'Wear this with some bling for dinner and drinks',
       'Perfect for a day out at the museum',
       'Wear it to a festive office gathering',
       'Rock a karaoke night with friends',
       'Ideal for a festive get-together',
       'Perfect for an evening Sangeet party',
       'casual outings, day trips, date night',
       'Attend a sangeet or cocktail party looking gorgeous',
       'Perfect for an office meeting', 'casual outing',
       'casual, party,festive,traditional,work', 'Evenings, Parties',
       'All party functions', 'Casual Festivities', 'Daily',
       'Party, Festivals, events, special occastions, engagements, weddings.',
       'traditional,festive,ethnic,party',
       'Perfect for a brunch outing with friends',
       'Wedding::Party::Festivals',
       'The ideal look for lunch with your family',
       'Grab drinks with your friends at the local pub',
       'with this must-have skirt from neudis take your style to the next level. a must-have wardrobe essential, this stylish skirt is sure to become your preferred choice in an instant.',
       'Look stylish at your workplace', 'office wear',
       'Perfect for a visit to the temple', 'Occasions',
       'Perfect for your next vacation',
       'Party, Festival, Family Functions',
       'Enjoy partying with family at the wedding',
       'Look stylish at a wedding',
       'Make your roka or engagement party special',
       'Explore a new city in comfort',
       'occasion- evening, festive and party wear',
       'this outfit can be wear with a pair of sneakers ,sandals &amp; slippers',
       "Chill at your friend's place this weekend",
       'Perfect for a traditional day at work',
       'Versatile for a religious function',
       'Fitting to wear for a sangeet party',
       'Look stunning at the club with friends',
       'Enjoy a casual stroll in the park', 'gym, running, training',
       'Any ware wear', 'Ideal for adventure sports',
       'Look stunning at an outing with friends',
       'casual, formal, parties &amp; function',
       'casual, official, formal, holidays, parties &amp; functions, events &amp; festivals, hangout with friends, parties',
       'For a coffee outing with pals', 'Party and Festival',
       'daily wear',
       'The perfect attire to wear to your office gatherings',
       'this piece is a stylish option for a nice family function or event when teamed with a pair of classic flats or heels.',
       'wedding, party',
       'casual wear,formal wear,ethnic wear,party wear,smart casual wear,home wear',
       'Festive occasions',
       'this party wear saree from liberty lifestyle is sure to make you the centre of attention at any social gathering and any location.',
       'Attend a housewarming puja', 'Impress your date at a restaurant',
       'regular wear', 'Perfect for a weekend trip',
       'college, party, outdoor', 'Fitting for a casual Friday outing',
       'Impress your colleagues at work', 'Wear to family get-togethers',
       'festive', 'office , college , events etc',
       'Look beautiful at a roka', 'Rock any after-hours party',
       'party,wedding,function',
       'Chill with your partner at a coffee house', 'ethnic',
       'Perfect for a late-night campfire', 'Ethnic Wear', 'festival',
       'party,evening,ocassion',
       'Walk in comfort and style at the local park',
       'Set out to explore the town', 'Slay the airport look',
       'party,casual',
       'Party, Engagement, Diwali, Wedding, Cocktail, Festival, Wedding, Day Function',
       'Party &amp; Festive &amp; Wedding',
       "Look stylish at your friend's sangeet",
       'shoulder to waist to toes', 'bottom',
       'Suitable for a perfect airport look.',
       'Get dressed for a casual first date at the coffee shop',
       'On a spontaneous trip to the mall', 'Attend a sangeet party',
       'home and outdoor', 'anywhere,indoor,outdoor',
       'Wear with ethnic Essesories', 'casual, party, work',
       'Festivce Occasions', 'Have fun at the movies with your friends',
       'office wear, brunch, college, daily wear', 'office, dayout',
       'Wrap Up The Look With A Pair Of Slippers, Sandals and Shoes.',
       'Ideal for an outing with your besties', 'Jazz up a festive party'],
      dtype=object)

In [88]:
where_to = sqldf("select Where_to_wear, Occasion from fashion_dataset where Occasion is not null and Where_to_wear is not null")
where_to

                                   Where_to_wear Occasion
0                 Ideal for daily or office wear    Party
1                      Fun weekends with friends   Casual
2                  A weekend escape with friends   Casual
3    A graceful look for a small family function    Party
4                 Wear it to a fun weekend party   Casual
..                                           ...      ...
674             Ideal for a festive get-together    Party
675           Ideal for a visit to a coffee shop   Casual
676                     Look beautiful at a roka    Party
677                      Jazz up a festive party  Festive
678                Perfect for any family outing   Casual

[679 rows x 2 columns]

In [89]:
wear = sqldf("select distinct Where_to_wear from fashion_dataset where Occasion is not null")
wear

                                         Where_to_wear
0                                                 None
1                       Ideal for daily or office wear
2                            Fun weekends with friends
3                        A weekend escape with friends
4          A graceful look for a small family function
..                                                 ...
353                                     office, dayout
354  Wrap Up The Look With A Pair Of Slippers, Sand...
355              Ideal for an outing with your besties
356                           Look beautiful at a roka
357                            Jazz up a festive party

[358 rows x 1 columns]

In [90]:
#wear = sqldf("select wear.*, where_to.Occasion from wear join where_to on (wear.Where_to_wear=where_to.Where_to_wear)")

In [91]:
wear.duplicated().sum()

0

In [92]:
wear.loc[:,['occasion']]=where_to['Occasion']
pd.unique(wear['occasion'])
wear.isna().sum()

Where_to_wear    1
occasion         0
dtype: int64

In [94]:
fashion_dataset = sqldf("select fashion_dataset.*, wear.* from fashion_dataset left join wear on (wear.Where_to_wear=fashion_dataset.Where_to_wear)")

In [95]:
fashion_dataset['Occasion'] = fashion_dataset['Occasion'].combine_first(fashion_dataset['occasion'])

In [96]:
fashion_dataset['Occasion'].isna().sum()

1047