# Data Analysis

>Importing libraries

In [1]:
import pandas as pd
import numpy as np
import pandasql as ps
from pandasql import sqldf
import ast
import random
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import BayesianRidge
from sklearn import preprocessing
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB

# Data Cleaning & Transformation

>Importing and viewing the fashion dataset

In [2]:
fashion_dataset= pd.read_csv(r".\fashion dataset.csv")
fashion_dataset

,p_id,name,price,colour,brand,ratingCount,avg_rating,description,p_attributes
0,1518329.0,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,Dupatta Bazaar,1321.0,4.548827,White embroidered&nbsp;dupattaChiffon<br>Hand-...,"{'Occasion': 'Daily', 'Pattern': 'Embroidered'..."
1,5829334.0,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,Roadster,5462.0,4.313255,"Mustard yellow solid sweatshirt, has a hood, t...","{'Body Shape ID': '443,424,324', 'Body or Garm..."
2,10340119.0,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,Inddus,145.0,4.068966,Peach-Coloured and beige woven design unstitch...,"{'Bottom Fabric': 'Cotton Blend', 'Bottom Patt..."
3,10856380.0,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,SASSAFRAS,9124.0,4.147523,"Black solid woven high-rise parallel trousers,...","{'Add-Ons': 'NA', 'Body Shape ID': '424', 'Bod..."
4,12384822.0,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,Kotty,12260.0,4.078467,"Black dark wash 4-pocket high-rise jeans, clea...","{'Add-Ons': 'NA', 'Brand Fit Name': 'NA', 'Clo..."
...,...,...,...,...,...,...,...,...,...
14324,17029604.0,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,The Chennai Silks,NaN,NaN,<b>Design Details </b><ul><li>Pink and silver-...,"{'Better Cotton Initiative': 'Regular', 'Blous..."
14325,17600212.0,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,Kinder Kids,NaN,NaN,"Blue and green printed lehenga choli, has foi...","{'Blouse Closure': 'NA', 'Blouse Fabric': 'Cot..."
14326,18159266.0,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,KLOTTHE,NaN,NaN,<ul> <li> Green and black woven palazzos </li>...,{'Body or Garment Size': 'To-Fit Denotes Body ...
14327,18921114.0,InWeave Women Red Printed A-Line Skirt,2399.0,Red,InWeave,NaN,NaN,"<p>Red printed A-line skirt, has drawstring cl...","{'Add-Ons': 'NA', 'Body Shape ID': '324,333,42..."
14328,19361058.0,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,BoStreet,NaN,NaN,<ul> <li> Navy blue knitted trousers </li> <li...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,42..."

>Finding the number of unique brands in the fashion dataset

In [3]:
len(pd.unique(fashion_dataset['brand']))

1021

>Importing the brand details dataset

In [4]:
brand_details = pd.read_excel(r".\fashion brand details.xlsx")
brand_details

      brand_id    brand_name
0            1           513
1            2          109F
2            3     20Dresses
3            4   250 Designs
4            5          3Pin
...        ...           ...
1015      1016  Ziva Fashion
1016      1017        Zivame
1017      1018         Ziyaa
1018      1019        Zoella
1019      1020          Zola

[1020 rows x 2 columns]

>Counting the number of unique brand names in the brand details dataset

In [5]:
len(pd.unique(brand_details['brand_name']))

1020

>Finding the number of null and duplicated values in each dataset

In [6]:
brand_details.isna().sum()

brand_id      0
brand_name    0
dtype: int64

In [7]:
fashion_dataset.isna().sum()

p_id              18
name              19
price             19
colour            22
brand             24
ratingCount     7748
avg_rating      7748
description       19
p_attributes      19
dtype: int64

In [8]:
brand_details.duplicated().sum()

0

In [9]:
fashion_dataset.duplicated().sum()

59

>Testing out duplicate dropping

In [10]:
df_dupl = fashion_dataset.drop_duplicates(keep = "last")
len(pd.unique(df_dupl["brand"]))

1021

>Dropping duplicates in fashion dataset

In [11]:
fashion_dataset.drop_duplicates(inplace = True, keep = "last")
fashion_dataset

,p_id,name,price,colour,brand,ratingCount,avg_rating,description,p_attributes
0,1518329.0,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,Dupatta Bazaar,1321.0,4.548827,White embroidered&nbsp;dupattaChiffon<br>Hand-...,"{'Occasion': 'Daily', 'Pattern': 'Embroidered'..."
1,5829334.0,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,Roadster,5462.0,4.313255,"Mustard yellow solid sweatshirt, has a hood, t...","{'Body Shape ID': '443,424,324', 'Body or Garm..."
2,10340119.0,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,Inddus,145.0,4.068966,Peach-Coloured and beige woven design unstitch...,"{'Bottom Fabric': 'Cotton Blend', 'Bottom Patt..."
3,10856380.0,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,SASSAFRAS,9124.0,4.147523,"Black solid woven high-rise parallel trousers,...","{'Add-Ons': 'NA', 'Body Shape ID': '424', 'Bod..."
4,12384822.0,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,Kotty,12260.0,4.078467,"Black dark wash 4-pocket high-rise jeans, clea...","{'Add-Ons': 'NA', 'Brand Fit Name': 'NA', 'Clo..."
...,...,...,...,...,...,...,...,...,...
14324,17029604.0,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,The Chennai Silks,NaN,NaN,<b>Design Details </b><ul><li>Pink and silver-...,"{'Better Cotton Initiative': 'Regular', 'Blous..."
14325,17600212.0,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,Kinder Kids,NaN,NaN,"Blue and green printed lehenga choli, has foi...","{'Blouse Closure': 'NA', 'Blouse Fabric': 'Cot..."
14326,18159266.0,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,KLOTTHE,NaN,NaN,<ul> <li> Green and black woven palazzos </li>...,{'Body or Garment Size': 'To-Fit Denotes Body ...
14327,18921114.0,InWeave Women Red Printed A-Line Skirt,2399.0,Red,InWeave,NaN,NaN,"<p>Red printed A-line skirt, has drawstring cl...","{'Add-Ons': 'NA', 'Body Shape ID': '324,333,42..."
14328,19361058.0,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,BoStreet,NaN,NaN,<ul> <li> Navy blue knitted trousers </li> <li...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,42..."

> Expanding the p_attributes column

In [12]:
fashion_dataset['p_attributes'] = fashion_dataset['p_attributes']
not_null = pd.notnull(fashion_dataset['p_attributes'])
fash3 = fashion_dataset[not_null]['p_attributes'].apply(lambda x: ast.literal_eval(x))
temp = pd.DataFrame([*fash3], fash3.index)
fashion_dataset = pd.concat([fashion_dataset, temp], axis=1)

>Renaming columns for use in SQL and MapReduce

In [13]:
fashion_dataset.rename(columns={'Bottom Pattern': 'Bottom_Pattern', 'Top Pattern': 'Top_Pattern','Print or Pattern Type': 'Print_Pattern_Type'}, inplace=True)

>Viewing all columns of the dataset

In [14]:
print(list(fashion_dataset.columns))

['p_id', 'name', 'price', 'colour', 'brand', 'ratingCount', 'avg_rating', 'description', 'p_attributes', 'Occasion', 'Pattern', 'Print_Pattern_Type', 'Body Shape ID', 'Body or Garment Size', 'Closure', 'Fabric', 'Hemline', 'Hood', 'Length', 'Neck', 'Number of Pockets', 'Pocket', 'Sleeve Length', 'Surface Styling', 'Type', 'Wash Care', 'Bottom Fabric', 'Bottom_Pattern', 'Dupatta Border', 'Dupatta Fabric', 'Dupatta Pattern', 'Kurta Fabric', 'Kurta Pattern', 'Ornamentation', 'Set Content', 'Stitch', 'Technique', 'Add-Ons', 'Brand Fit Name', 'Character', 'Fabric 2', 'Features', 'Fit', 'Fly Type', 'Main Trend', 'Multipack Set', 'Sustainable', 'Type of Pleat', 'Waist Rise', 'Weave Type', 'Distress', 'Effects', 'Fabric 3', 'Fade', 'Reversible', 'Shade', 'Stretch', 'Type of Distress', 'Waistband', 'Center Front Open', 'Fabric Type', 'Lining', 'Sleeve Styling', 'Transparency', 'taxMaterial', 'Front Styling', 'Knit or Woven', 'Sport', 'Technology', 'Blouse Closure', 'Blouse Fabric', 'Choli Stitch', 'Dupatta', 'Lehenga Closure', 'Lehenga Fabric', 'Lehenga Lining Fabric', 'Lehenga Stitch', 'Regions', 'Style Tip', 'Top_Pattern', 'Where-to-wear', 'Bottom Closure', 'Bottom Type', 'Top Fabric', 'Top Type', 'Trends', 'Blouse', 'Border', 'Care for me', 'Saree Fabric', 'Collar', 'Lining Fabric', 'Pattern Coverage', 'Slit Detail', 'Top Design Styling', 'Top Hemline', 'Top Length', 'Top Shape', 'Weave Pattern', 'Design Styling', 'Shape', 'Sport Team', 'Technology Present', 'Sub Trend', 'Wedding', 'Fabric Purity', 'Fusion Wear', 'Pattern Size', 'Contact Brand or Retailer for pre-sales product queries', 'Colour Family', 'Collection Name', 'Better Cotton Initiative', 'About the Brand', 'How to care for your denim', 'What it does for your body']

> Use 'Occasion', 'Print or Pattern Type', 'Pattern', 'Top Pattern', 'Bottom Pattern'

>Merging the datasets

In [15]:
merged_dataset = ps.sqldf("select fashion_dataset.p_id, fashion_dataset.name, fashion_dataset.price, fashion_dataset.colour, brand_details.*, fashion_dataset.brand, fashion_dataset.ratingCount, fashion_dataset.avg_rating, fashion_dataset.Occasion, fashion_dataset.Print_Pattern_Type, fashion_dataset.Pattern, fashion_dataset.Top_Pattern, fashion_dataset.Bottom_Pattern from fashion_dataset left join brand_details on (fashion_dataset.brand = brand_details.brand_name)")
merged_dataset

,p_id,name,price,colour,brand_id,brand_name,brand,ratingCount,avg_rating,Occasion,Print_Pattern_Type,Pattern,Top_Pattern,Bottom_Pattern
0,1518329.0,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,242.0,Dupatta Bazaar,Dupatta Bazaar,1321.0,4.548827,Daily,Floral,Embroidered,None,None
1,5829334.0,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,750.0,Roadster,Roadster,5462.0,4.313255,Casual,Solid,Solid,None,None
2,10340119.0,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,389.0,Inddus,Inddus,145.0,4.068966,Daily,Ethnic Motifs,None,None,Woven Design
3,10856380.0,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,NaN,None,SASSAFRAS,9124.0,4.147523,Casual,Solid,Solid,None,None
4,12384822.0,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,482.0,Kotty,Kotty,12260.0,4.078467,Casual,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14265,17029604.0,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,880.0,The Chennai Silks,The Chennai Silks,NaN,NaN,Festive,Floral,Woven Design,None,None
14266,17600212.0,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,471.0,Kinder Kids,Kinder Kids,NaN,NaN,None,None,None,Printed,Printed
14267,18159266.0,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,NaN,None,KLOTTHE,NaN,NaN,Western,Floral,Printed,None,None
14268,18921114.0,InWeave Women Red Printed A-Line Skirt,2399.0,Red,NaN,None,InWeave,NaN,NaN,Casual,Floral,Printed,None,None
14269,19361058.0,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,NaN,None,BoStreet,NaN,NaN,Casual,Solid,Solid,None,None

>Dropping unnecessary null values

In [16]:
merged_dataset.isna().sum()

p_id                      1
name                      2
price                     2
colour                    5
brand_id               6199
brand_name             6199
brand                     7
ratingCount            7707
avg_rating             7707
Occasion               1101
Print_Pattern_Type     4277
Pattern                3807
Top_Pattern           12112
Bottom_Pattern        11477
dtype: int64

In [17]:
sqldf("select * from merged_dataset where p_id is null")

,p_id,name,price,colour,brand_id,brand_name,brand,ratingCount,avg_rating,Occasion,Print_Pattern_Type,Pattern,Top_Pattern,Bottom_Pattern
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [18]:
merged_dataset.dropna(subset = "p_id", inplace = True)
merged_dataset.isna().sum()

p_id                      0
name                      1
price                     1
colour                    4
brand_id               6198
brand_name             6198
brand                     6
ratingCount            7706
avg_rating             7706
Occasion               1100
Print_Pattern_Type     4276
Pattern                3806
Top_Pattern           12111
Bottom_Pattern        11476
dtype: int64

In [19]:
sqldf("select * from merged_dataset where name is null")

,p_id,name,price,colour,brand_id,brand_name,brand,ratingCount,avg_rating,Occasion,Print_Pattern_Type,Pattern,Top_Pattern,Bottom_Pattern
0,19068208.0,None,None,None,None,None,None,None,None,None,None,None,None,None

In [20]:
merged_dataset.dropna(subset = "name", inplace = True)
merged_dataset.isna().sum()

p_id                      0
name                      0
price                     0
colour                    3
brand_id               6197
brand_name             6197
brand                     5
ratingCount            7705
avg_rating             7705
Occasion               1099
Print_Pattern_Type     4275
Pattern                3805
Top_Pattern           12110
Bottom_Pattern        11475
dtype: int64

>Upon inspection, the rows where brand was null were duplicate rows, and were therefore dropped.

In [21]:
merged_dataset.dropna(subset = "brand", inplace = True)
merged_dataset.isna().sum()

p_id                      0
name                      0
price                     0
colour                    3
brand_id               6192
brand_name             6192
brand                     0
ratingCount            7703
avg_rating             7703
Occasion               1099
Print_Pattern_Type     4275
Pattern                3805
Top_Pattern           12105
Bottom_Pattern        11470
dtype: int64

>Finding why there are null brand name and brand ID values

In [22]:
sqldf("select distinct brand from merged_dataset where brand_id is null")

                 brand
0            SASSAFRAS
1            KASSUALLY
2           Saree mall
3              MONTREZ
4          DOLCE CRUDO
..                 ...
515             SARIYA
516              kasee
517  SHIVANGI clothing
518           ARTICALE
519          tantkatha

[520 rows x 1 columns]

In [23]:
sqldf("select distinct brand, brand_id from merged_dataset order by brand_id asc")

             brand  brand_id
0        SASSAFRAS       NaN
1        KASSUALLY       NaN
2       Saree mall       NaN
3          MONTREZ       NaN
4      DOLCE CRUDO       NaN
...            ...       ...
1015          Zigo    1011.0
1016     Zima Leto    1013.0
1017   Zink London    1014.0
1018  Ziva Fashion    1016.0
1019        Zivame    1017.0

[1020 rows x 2 columns]

In [24]:
sqldf("select distinct brand_id from merged_dataset order by brand_id asc")

     brand_id
0         NaN
1         1.0
2         2.0
3         3.0
4         7.0
..        ...
496    1011.0
497    1013.0
498    1014.0
499    1016.0
500    1017.0

[501 rows x 1 columns]

In [25]:
sqldf("select brand_id from brand_details where brand_name = 'KASSUALLY'")

Empty DataFrame
Columns: [brand_id]
Index: []

In [26]:
sqldf("select distinct * from merged_dataset where brand is null")

Empty DataFrame
Columns: [p_id, name, price, colour, brand_id, brand_name, brand, ratingCount, avg_rating, Occasion, Print_Pattern_Type, Pattern, Top_Pattern, Bottom_Pattern]
Index: []

In [27]:
sqldf("select * from merged_dataset where brand_name is null")

,p_id,name,price,colour,brand_id,brand_name,brand,ratingCount,avg_rating,Occasion,Print_Pattern_Type,Pattern,Top_Pattern,Bottom_Pattern
0,10856380.0,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,None,None,SASSAFRAS,9124.0,4.147523,Casual,Solid,Solid,None,None
1,12742100.0,KASSUALLY Women Black & Pink Printed Basic Jum...,2199.0,Black,None,None,KASSUALLY,6297.0,4.349214,Casual,None,Printed,None,None
2,13842966.0,Sassafras Brown & Red Geometric Printed George...,1499.0,Brown,None,None,SASSAFRAS,7358.0,4.395352,Casual,Geometric,Printed,None,None
3,16595858.0,Saree Mall Floral Saree,3599.0,Pink,None,None,Saree mall,1005.0,3.980100,Party,Floral,Printed,None,None
4,18601482.0,MONTREZ Women White Black Open Front Jacket,1999.0,White,None,None,MONTREZ,61.0,4.377049,Casual,Graphic,Printed,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6187,18055840.0,tantkatha Black Front Closure Saree Blouse Wit...,1699.0,Black,None,None,tantkatha,NaN,NaN,Party,None,Solid,None,None
6188,19361072.0,BoStreet Women Green Solid Mom Fit Trousers,2599.0,Green,None,None,BoStreet,NaN,NaN,Casual,Solid,Solid,None,None
6189,18159266.0,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,None,None,KLOTTHE,NaN,NaN,Western,Floral,Printed,None,None
6190,18921114.0,InWeave Women Red Printed A-Line Skirt,2399.0,Red,None,None,InWeave,NaN,NaN,Casual,Floral,Printed,None,None
6191,19361058.0,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,None,None,BoStreet,NaN,NaN,Casual,Solid,Solid,None,None

In [28]:
sqldf("select count(distinct brand_id) from merged_dataset")

   count(distinct brand_id)
0                       500

In [29]:
sqldf("select max(brand_id), brand_name from brand_details")

   max(brand_id) brand_name
0           1020       Zola

>Getting rid of null values in brand and brand ID by assigning new IDs

In [30]:
new_id = sqldf("select distinct brand, brand_id from merged_dataset order by brand asc")
new_id

            brand  brand_id
0            109F       2.0
1       20Dresses       3.0
2     250 DESIGNS       NaN
3            3PIN       NaN
4             513       1.0
...           ...       ...
1015   trueBrowns       NaN
1016      urSense       NaN
1017       wild U       NaN
1018         zebu       NaN
1019       zink Z       NaN

[1020 rows x 2 columns]

In [31]:
new_id.loc[:, 'brandID'] = range(1, 1021)
new_id.drop('brand_id', axis = 'columns')

            brand  brandID
0            109F        1
1       20Dresses        2
2     250 DESIGNS        3
3            3PIN        4
4             513        5
...           ...      ...
1015   trueBrowns     1016
1016      urSense     1017
1017       wild U     1018
1018         zebu     1019
1019       zink Z     1020

[1020 rows x 2 columns]

In [32]:
dataset_final = sqldf("select merged_dataset.*, new_id.brandID from merged_dataset left join new_id on (merged_dataset.brand = new_id.brand)")
dataset_final.drop(['brand_id','brand_name'], axis = 'columns', inplace = True)
dataset_final.isna().sum()

p_id                      0
name                      0
price                     0
colour                    3
brand                     0
ratingCount            7703
avg_rating             7703
Occasion               1099
Print_Pattern_Type     4275
Pattern                3805
Top_Pattern           12105
Bottom_Pattern        11470
brandID                   0
dtype: int64

In [33]:
dataset_final['Occasion'].isna().sum()

1099

>Filling Print_Pattern_Type null values

In [34]:
pd.unique(dataset_final['Print_Pattern_Type'])

array(['Floral', 'Solid', 'Ethnic Motifs', None, 'Geometric', 'Graphic',
       'Self Design', 'Checked', 'Typography', 'Washed', 'Kalamkari',
       'Embellished', 'Humour and Comic', 'Animal', 'Paisley', 'Ribbed',
       'Striped', 'Bandhani', 'Abstract', 'Camouflage', 'Tie and Dye',
       'Woven Design', 'Colourblocked', 'Vertical Stripes', 'Polka Dots',
       'Leheriya', 'Cable Knit', 'Brand Logo', 'Open Knit',
       'Alphanumeric', 'Other', 'Conversational', 'NA', 'Chevron',
       'Ombre', 'Horizontal Stripes', 'Textured', 'Superhero', 'Warli',
       'Boucle', 'Batik', 'Quirky', 'Tribal', 'Ajrak', 'Embroidered',
       'Sequinned Stripes', 'Botanical', 'Shimmer', 'Bagh', 'Houndstooth',
       'Fair Isle', 'Dabu', 'Cartoon Characters', 'Argyle'], dtype=object)

In [35]:
sqldf("select Print_Pattern_Type, Pattern, Top_Pattern, Bottom_Pattern from dataset_final where Print_Pattern_Type is null and Top_Pattern is not null or Bottom_Pattern is not null or Pattern is not null")

      Print_Pattern_Type       Pattern Top_Pattern Bottom_Pattern
0                 Floral   Embroidered        None           None
1                  Solid         Solid        None           None
2          Ethnic Motifs          None        None   Woven Design
3                  Solid         Solid        None           None
4                   None       Printed        None           None
...                  ...           ...         ...            ...
13246             Floral  Woven Design        None           None
13247               None          None     Printed        Printed
13248             Floral       Printed        None           None
13249             Floral       Printed        None           None
13250              Solid         Solid        None           None

[13251 rows x 4 columns]

In [36]:
sqldf("select count(Print_Pattern_Type), count(Top_Pattern), count(Bottom_Pattern), count(Pattern) from dataset_final where Print_Pattern_Type = 'NA' or Pattern = 'NA' or Top_Pattern = 'NA' or Bottom_Pattern = 'NA'")

,count(Print_Pattern_Type),count(Top_Pattern),count(Bottom_Pattern),count(Pattern)
0,39,0,31,8

In [37]:
dataset_final['Pattern'] = dataset_final['Pattern'].combine_first(dataset_final['Bottom_Pattern'])

In [38]:
dataset_final['Pattern'] = dataset_final['Pattern'].combine_first(dataset_final['Top_Pattern'])

In [39]:
dataset_final['Print_Pattern_Type'] = dataset_final['Print_Pattern_Type'].combine_first(dataset_final['Pattern'])

In [40]:
dataset_final.drop(['Pattern','Top_Pattern','Bottom_Pattern'], axis = 'columns', inplace=True)

In [41]:
dataset_final.isna().sum()

p_id                     0
name                     0
price                    0
colour                   3
brand                    0
ratingCount           7703
avg_rating            7703
Occasion              1099
Print_Pattern_Type    1000
brandID                  0
dtype: int64

>Filling in remaining null values

In [42]:
sqldf("select * from dataset_final where colour is null")

,p_id,name,price,colour,brand,ratingCount,avg_rating,Occasion,Print_Pattern_Type,brandID
0,19145038.0,Baisacrafts Women Pure Cotton Kurta with Trous...,5450.0,None,Baisacrafts,None,None,Festive,Geometric,109
1,19142060.0,LIVE OK Women Boyfriend Fit High-Rise Stretcha...,1999.0,None,LIVE OK,None,None,Casual,None,463
2,16124786.0,MANGO Women Hooded Sweatshirt,2390.0,None,MANGO,None,None,Casual,Solid,498

In [43]:
avg_rating_mean = round(dataset_final["avg_rating"].mean(),6)

In [44]:
dataset_final["ratingCount"].median()

23.0

In [45]:
dataset_final["ratingCount"].mode()

0    5.0
Name: ratingCount, dtype: float64

In [46]:
ratingCount_mean = dataset_final["ratingCount"].mean()

In [47]:
dataset_final.fillna({"colour":"dataset_final.mode()","avg_rating":avg_rating_mean, "ratingCount":ratingCount_mean,"Print_Pattern_Type":"dataset_final.mode()", "Occasion":"dataset_final.mode()", inplace = True)
dataset_final.isna().sum()

SyntaxError: invalid syntax (4053688237.py, line 1)

In [ ]:
dataset_final.info()

>Exporting data for analysis using Apache MapReduce

In [ ]:
dataset_final.to_csv("final_dataset.csv", index = False)

In [ ]:
new_dataset = dataset_final.loc[:,['p_id', 'name','price','colour','brand','ratingCount','avg_rating','brand_id']]
new_dataset.to_csv("new_dataset.csv", index = False, header = False)

In [ ]:
dataset_final.info()

# Machine Learning

## Regression Modelling

## Pre-processing

In [ ]:
regression_data = dataset_final.loc[:,['price','avg_rating','ratingCount', 'brand_id','name','colour','brand','description','p_attributes']]

In [ ]:
le = preprocessing.LabelEncoder()

for i in regression_data.columns:
        if regression_data[i].dtype == object:
            regression_data[i] = le.fit_transform(regression_data[i])
        else:
            pass

In [ ]:
regression_data

In [ ]:
x_reg = regression_data.loc[:,['price','avg_rating','ratingCount','name','colour','description','p_attributes']]
y_reg = regression_data.loc[:,['brand_id']]

>Creating the training and testing datasets

In [ ]:
x_reg_train, x_reg_test, y_reg_train, y_reg_test = train_test_split(x_reg, y_reg, test_size=0.25)

print("Your independent training dataset contains ", x_reg_train.shape, " rows and columns.")
print("Your independent testing dataset contains ", x_reg_test.shape, " rows and columns.")
print("Your dependent training dataset contains ", y_reg_train.shape, " rows and columns.")
print("Your dependent testing dataset contains ", y_reg_test.shape, " rows and columns.")

### Linear Regression

>Training the model

In [ ]:
LR = LinearRegression()

In [ ]:
LR.fit(x_reg_train, y_reg_train)

>Testing the model

In [ ]:
LR_predict = LR.predict(x_reg_test)
LR_predict

In [ ]:
print("Linear Regressor")
print("Mean Absolute Error: ", metrics.mean_absolute_error(y_reg_test, LR_predict))

### Bayesian Ridge Regression

In [ ]:
BayRidge = BayesianRidge()
BayRidge.fit(x_reg_train, y_reg_train)

In [ ]:
BayRidge_predict = BayRidge.predict(x_reg_test)
BayRidge_predict

In [ ]:
print("Bayesian Ridge Regressor")
print("Mean Absolute Error: ", metrics.mean_absolute_error(y_reg_test, BayRidge_predict))

In [ ]:
dataset_final.info()

## Classification Modelling

>Pre-processing

In [ ]:
classification_data = dataset_final.loc[:,['name','colour','brand', 'brand_id','description','p_attributes']]
classification_data

In [ ]:
le = preprocessing.LabelEncoder()

for i in classification_data.columns:
        if classification_data[i].dtype == object:
            classification_data[i] = le.fit_transform(classification_data[i])
        else:
            pass

In [ ]:
classification_data

>Creating the training datasets

In [ ]:
x_class = classification_data.loc[:,['name','colour','description','p_attributes']]
y_class = classification_data.loc[:,['brand']]

In [ ]:
x_class

In [ ]:
x_class_train, x_class_test, y_class_train, y_class_test = train_test_split(x_class, y_class, test_size=0.25)

print("Your independent training dataset contains ", x_class_train.shape, " rows and columns.")
print("Your independent testing dataset contains ", x_class_test.shape, " rows and columns.")
print("Your dependent training dataset contains ", y_class_train.shape, " rows and columns.")
print("Your dependent testing dataset contains ", y_class_test.shape, " rows and columns.")

### Gaussian Naive Bayes Classifier

In [ ]:
GNB = GaussianNB()

In [ ]:
GNB.fit(x_class_train, y_class_train)

In [ ]:
GNB_predict = GNB.predict(x_class_test)

In [ ]:
print("Gaussian Naive Bayes Classifier")
print("Accuracy:", round((metrics.accuracy_score(y_class_test, GNB_predict))*100,2),"%")

### Decision Tree Classifier

In [ ]:
dtree = DecisionTreeClassifier()
dtree = dtree.fit(x_class_train, y_class_train)

In [ ]:
dtree_predict = dtree.predict(x_class_test)

In [ ]:
print("Decision Classifier")
print("Accuracy:", round((metrics.accuracy_score(y_class_test, dtree_predict))*100,2),"%")