# Data Analysis

>Importing libraries

In [ ]:
import pandas as pd
import numpy as np
import pandasql as ps
from pandasql import sqldf
import ast
import random
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import BayesianRidge
from sklearn import preprocessing
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB

# Data Cleaning & Transformation

>Importing and viewing the fashion dataset

In [ ]:
fashion_dataset= pd.read_csv(r".\fashion dataset.csv")
fashion_dataset

>Finding the number of unique brands in the fashion dataset

In [ ]:
len(pd.unique(fashion_dataset['brand']))

>Importing the brand details dataset

In [ ]:
brand_details = pd.read_excel(r".\fashion brand details.xlsx")
brand_details

>Counting the number of unique brand names in the brand details dataset

In [ ]:
len(pd.unique(brand_details['brand_name']))

>Finding the number of null and duplicated values in each dataset

In [ ]:
brand_details.isna().sum()

In [ ]:
fashion_dataset.isna().sum()

In [ ]:
brand_details.duplicated().sum()

In [ ]:
fashion_dataset.duplicated().sum()

>Testing out duplicate dropping

In [ ]:
df_dupl = fashion_dataset.drop_duplicates(keep = "last")
len(pd.unique(df_dupl["brand"]))

>Dropping duplicates in fashion dataset

In [ ]:
fashion_dataset.drop_duplicates(inplace = True, keep = "last")
fashion_dataset

> Expanding the p_attributes column

In [ ]:
fashion_dataset['p_attributes'] = fashion_dataset['p_attributes']
not_null = pd.notnull(fashion_dataset['p_attributes'])
fash3 = fashion_dataset[not_null]['p_attributes'].apply(lambda x: ast.literal_eval(x))
temp = pd.DataFrame([*fash3], fash3.index)
fashion_dataset = pd.concat([fashion_dataset, temp], axis=1)

>Viewing all columns of the dataset

In [ ]:
print(list(fashion_dataset.columns))

>Renaming columns for use in SQL and MapReduce

In [ ]:
fashion_dataset.rename(columns={'Where-to-wear':'Where_to_wear','Dupatta Pattern':'Dupatta_Pattern', 'Kurta Pattern':'Kurta_Pattern','Bottom Pattern': 'Bottom_Pattern', 'Top Pattern': 'Top_Pattern','Print or Pattern Type': 'Print_Pattern_Type', 'Knit or Woven':'Knit_or_Woven', 'Weave Type':'Weave_Type', 'Weave Pattern':'Weave_Pattern','Dupatta Fabric':'Dupatta_Fabric','Bottom Fabric':'Bottom_Fabric', 'Top Fabric':'Top_Fabric','Fabric Purity':'Fabric_Purity', 'Fabric Type':'Fabric_Type','Blouse Fabric':'Blouse_Fabric', 'Better Cotton Initiative':'Better_Cotton', 'Saree Fabric':'Saree_Fabric', 'Colour Family':'Colour_Family'}, inplace=True)

In [ ]:
fashion_dataset['Kurta_Pattern'].isna().sum()

In [ ]:
fashion_dataset['Weave_Type'].isna().sum()

In [ ]:
fashion_dataset['Knit_or_Woven'].isna().sum()

In [ ]:
fashion_dataset['Weave_Pattern'].isna().sum()

### Filling the Fabric column

In [ ]:
pd.unique(fashion_dataset['Fabric'])

In [ ]:
sqldf("select count(Fabric) from fashion_dataset where Fabric = 'NA'")

In [ ]:
fashion_dataset['Fabric'].isna().sum()

In [ ]:
pd.unique(fashion_dataset['Bottom_Fabric'])

In [ ]:
fashion_dataset['Bottom_Fabric'] = fashion_dataset['Bottom_Fabric'].where(fashion_dataset['Bottom_Fabric'] != 'NA', None)

In [ ]:
pd.unique(fashion_dataset['Blouse_Fabric'])

In [ ]:
fashion_dataset['Blouse_Fabric'] = fashion_dataset['Blouse_Fabric'].where(fashion_dataset['Blouse_Fabric'] != 'NA', None)

In [ ]:
pd.unique(fashion_dataset['Top_Fabric'])

In [ ]:
pd.unique(fashion_dataset['Fabric_Type'])

In [ ]:
fashion_dataset['Fabric_Type'] = fashion_dataset['Fabric_Type'].where(fashion_dataset['Fabric_Type'] != 'NA', None)

In [ ]:
fashion_dataset['Fabric'] = fashion_dataset['Fabric'].combine_first(fashion_dataset['Top_Fabric'])

In [ ]:
fashion_dataset['Fabric'].isna().sum()

In [ ]:
fashion_dataset['Fabric'] = fashion_dataset['Fabric'].combine_first(fashion_dataset['Bottom_Fabric'])

In [ ]:
fashion_dataset['Fabric'].isna().sum()

In [ ]:
fashion_dataset['Fabric'] = fashion_dataset['Fabric'].combine_first(fashion_dataset['Fabric_Type'])

In [ ]:
fashion_dataset['Fabric'].isna().sum()

In [ ]:
fashion_dataset['Fabric'] = fashion_dataset['Fabric'].combine_first(fashion_dataset['Blouse_Fabric'])

In [ ]:
fashion_dataset['Fabric'].isna().sum()

In [ ]:
pd.unique(fashion_dataset['Better_Cotton'])

In [ ]:
sqldf("select Better_Cotton from fashion_dataset where Fabric is null and Better_Cotton in('Better Cotton Initiative','Regular')")

In [ ]:
fashion_dataset['New_Cotton'] = fashion_dataset['Better_Cotton'].replace(['Regular', 'Better Cotton Initiative'], ['Cotton',None])

In [ ]:
fashion_dataset['Fabric'] = fashion_dataset['Fabric'].combine_first(fashion_dataset['New_Cotton'])

In [ ]:
fashion_dataset['Fabric'].isna().sum()

In [ ]:
pd.unique(fashion_dataset['Dupatta_Fabric'])
fashion_dataset['Dupatta_Fabric'] = fashion_dataset['Dupatta_Fabric'].where(fashion_dataset['Dupatta_Fabric'] != 'NA', None)

In [ ]:
sqldf("select Dupatta_Fabric from fashion_dataset where Dupatta_Fabric is not null and Fabric is null")

In [ ]:
sqldf("select Weave_Pattern, Fabric from fashion_dataset")

In [ ]:
fashion_dataset['Fabric'] = fashion_dataset['Fabric'].combine_first(fashion_dataset['Weave_Pattern'])

In [ ]:
fashion_dataset['Fabric'] = fashion_dataset['Fabric'].combine_first(fashion_dataset['Dupatta_Fabric'])

In [ ]:
fashion_dataset['Fabric'].isna().sum()

In [ ]:
sqldf("select Saree_Fabric from fashion_dataset where Saree_Fabric is not null and Fabric is null")

In [ ]:
fashion_dataset['Fabric'] = fashion_dataset['Fabric'].combine_first(fashion_dataset['Saree_Fabric'])

In [ ]:
fashion_dataset['Fabric'].isna().sum()

In [ ]:
fashion_dataset['Fabric'].mode()

In [ ]:
fashion_dataset.fillna({'Fabric':'Cotton'}, inplace=True)
fashion_dataset['Fabric'].isna().sum()

In [ ]:
sqldf("select count(Fabric) from fashion_dataset where Fabric = 'NA'")

### Viewing Weave Type & Knit or Woven

In [ ]:
pd.unique(fashion_dataset['Weave_Type'])

In [ ]:
pd.unique(fashion_dataset['Weave_Type'])

In [ ]:
pd.unique(fashion_dataset['Knit_or_Woven'])

In [ ]:
pd.unique(fashion_dataset['Weave_Pattern'])

### Formatting Weave Pattern  and Weave Type to fill Knit or Woven

In [ ]:
fashion_dataset['Weave_Pattern_2'] = fashion_dataset['Weave_Pattern'].replace(['Regular', 'Jacquard', 'Brocade', 'Dobby', 'Khadi'], ['Woven','Woven','Woven','Woven','Woven'])

In [ ]:
pd.unique(fashion_dataset['Weave_Pattern_2'])

In [ ]:
fashion_dataset['Weave_Type_2'] = fashion_dataset['Weave_Type'].replace(['Machine Weave',
       'Velvet', 'Denim', 'Handloom', 'Lace', 'Chambray', 'Corduroy'], ['Woven','Woven','Woven','Woven','Knitted','Woven','Woven'])

In [ ]:
pd.unique(fashion_dataset['Weave_Type_2'])

### Filling Knit_or_Woven

In [ ]:
fashion_dataset['Knit_or_Woven'] = fashion_dataset['Knit_or_Woven'].combine_first(fashion_dataset['Weave_Pattern_2'])

In [ ]:
fashion_dataset['Knit_or_Woven'] = fashion_dataset['Knit_or_Woven'].combine_first(fashion_dataset['Weave_Type_2'])

In [ ]:
fashion_dataset['Knit_or_Woven'].isna().sum()

In [ ]:
pd.unique(fashion_dataset['Knit_or_Woven'])

In [ ]:
len(pd.unique(fashion_dataset['Fabric']))

In [ ]:
fabrics_knit = sqldf("select distinct Fabric from fashion_dataset where Knit_or_Woven = 'Knitted'")

In [ ]:
fabrics_knit.isna().sum()

In [ ]:
fabrics_weave = sqldf("select distinct Fabric from fashion_dataset where Knit_or_Woven = 'Woven'")

In [ ]:
fabrics_weave.isna().sum()

In [ ]:
fabrics_both = sqldf("select distinct Fabric from fashion_dataset where Knit_or_Woven = 'Knitted and Woven'")

In [ ]:
fabrics_both.isna().sum()

In [ ]:
knit_n_woven = sqldf("select * from fabrics_knit where fabrics_knit.Fabric in(select fabrics_weave.Fabric from fabrics_weave)")

In [ ]:
knit_n_woven = sqldf("select * from knit_n_woven where Fabric not in ('Other')")
knit_n_woven

In [ ]:
fabrics_both = sqldf("select * from fabrics_both where Fabric not in (select Fabric from knit_n_woven)")

In [ ]:
both_fabrics = ps.sqldf("select * from knit_n_woven union all select * from fabrics_both")

In [ ]:
both_fabrics.loc[:,'weave'] = 'Knitted and Woven'

In [ ]:
fabrics_knit = sqldf("select * from fabrics_knit where Fabric not in (select Fabric from both_fabrics) and Fabric != 'Other'")
fabrics_knit.loc[:,['weave']]='Knitted'

In [ ]:
fabrics_knit

In [ ]:
fabrics_weave = sqldf("select * from fabrics_weave where Fabric not in (select Fabric from both_fabrics) and Fabric != 'Other'")
fabrics_weave.loc[:,['weave']]='Woven'

In [ ]:
fabrics_weave

In [ ]:
fabric_weave_type = sqldf("select * from fabrics_weave union all select * from fabrics_knit union all select * from both_fabrics")
fabric_weave_type

In [ ]:
fashion_dataset = sqldf("select fashion_dataset.*, fabric_weave_type.weave from fashion_dataset left join fabric_weave_type on (fabric_weave_type.Fabric=fashion_dataset.Fabric)")

In [ ]:
fashion_dataset['Knit_or_Woven'] = fashion_dataset['Knit_or_Woven'].combine_first(fashion_dataset['weave'])

In [ ]:
fashion_dataset['Knit_or_Woven'].isna().sum()

### Filling Occasion

In [ ]:
pd.unique(fashion_dataset['Occasion'])

In [ ]:
wear = sqldf("select distinct Where_to_wear from fashion_dataset where Occasion is null")

In [ ]:
wear

### Filling Print_Pattern_Type null values

In [ ]:
pd.unique(fashion_dataset['Print_Pattern_Type'])

In [ ]:
sqldf("select Print_Pattern_Type, Pattern, Top_Pattern, Bottom_Pattern from fashion_dataset where Print_Pattern_Type is null and Top_Pattern is not null or Bottom_Pattern is not null or Pattern is not null")

In [ ]:
fashion_dataset['Print_Pattern_Type'] = fashion_dataset['Print_Pattern_Type'].combine_first(fashion_dataset['Pattern'])

In [ ]:
fashion_dataset['Print_Pattern_Type'] = fashion_dataset['Print_Pattern_Type'].combine_first(fashion_dataset['Bottom_Pattern'])

In [ ]:
fashion_dataset['Print_Pattern_Type'] = fashion_dataset['Print_Pattern_Type'].combine_first(fashion_dataset['Top_Pattern'])

In [ ]:
fashion_dataset['Print_Pattern_Type'] = fashion_dataset['Print_Pattern_Type'].combine_first(fashion_dataset['Kurta_Pattern'])

In [ ]:
fashion_dataset['Print_Pattern_Type'] = fashion_dataset['Print_Pattern_Type'].combine_first(fashion_dataset['Dupatta_Pattern'])

In [ ]:
#fashion_dataset.drop(['Pattern','Top_Pattern','Bottom_Pattern', 'Kurta_Pattern','Dupatta_Pattern'], axis = 'columns', inplace=True)

In [ ]:
fashion_dataset['Print_Pattern_Type'].isna().sum()

### Filling remaining null values in pattern, weave, and occasion with mode

In [ ]:
fashion_dataset['Print_Pattern_Type'].mode()

In [ ]:
#fashion_dataset['Occasion'].mode()

In [ ]:
fashion_dataset['Knit_or_Woven'].mode()

In [ ]:
fashion_dataset.fillna({'Print_Pattern_Type':'Solid','Occasion':'Casual','Knit_or_Woven':'Woven'}, inplace=True)
fashion_dataset[['Print_Pattern_Type','Occasion','Knit_or_Woven']].isna().sum()

> Use 'Occasion', 'Print or Pattern Type', 'Pattern', 'Top Pattern', 'Bottom Pattern', 'Dupatta Pattern', 'Kurta Pattern', 'Weave Pattern', 'Knit or Woven', 'Sustainable', 'Sport', 'Fusion_Wear'

### Merging the datasets

In [ ]:
merged_dataset = ps.sqldf("select fashion_dataset.p_id, fashion_dataset.name, fashion_dataset.price, fashion_dataset.colour, brand_details.*, fashion_dataset.brand, fashion_dataset.ratingCount, fashion_dataset.avg_rating, fashion_dataset.Occasion, fashion_dataset.Print_Pattern_Type, fashion_dataset.Sustainable, fashion_dataset.Knit_or_Woven, fashion_dataset.Fabric, fashion_dataset.Fabric_Purity from fashion_dataset left join brand_details on (fashion_dataset.brand = brand_details.brand_name)")
merged_dataset

### Dropping unnecessary null values

In [ ]:
merged_dataset.isna().sum()

In [ ]:
sqldf("select * from merged_dataset where p_id is null")

In [ ]:
merged_dataset.dropna(subset = "p_id", inplace = True)
merged_dataset.isna().sum()

In [ ]:
sqldf("select * from merged_dataset where name is null")

In [ ]:
merged_dataset.dropna(subset = "name", inplace = True)
merged_dataset.isna().sum()

>Upon inspection, the rows where brand was null were duplicate rows, and were therefore dropped.

In [ ]:
merged_dataset.dropna(subset = "brand", inplace = True)
merged_dataset.isna().sum()

>Finding why there are null brand name and brand ID values

In [ ]:
sqldf("select distinct brand from merged_dataset where brand_id is null")

In [ ]:
sqldf("select distinct brand, brand_id from merged_dataset order by brand_id asc")

In [ ]:
sqldf("select distinct brand_id from merged_dataset order by brand_id asc")

In [ ]:
sqldf("select brand_id from brand_details where brand_name = 'KASSUALLY'")

In [ ]:
sqldf("select distinct * from merged_dataset where brand is null")

In [ ]:
sqldf("select * from merged_dataset where brand_name is null")

In [ ]:
sqldf("select count(distinct brand_id) from merged_dataset")

In [ ]:
sqldf("select max(brand_id), brand_name from brand_details")

### Filling brand ID

>Getting rid of null values in brand and brand ID by assigning new IDs

In [ ]:
new_id = sqldf("select distinct brand, brand_id from merged_dataset order by brand asc")
new_id

In [ ]:
new_id.loc[:, 'brandID'] = range(1, 1021)
new_id.drop('brand_id', axis = 'columns')

In [ ]:
merged_dataset = sqldf("select merged_dataset.*, new_id.brandID from merged_dataset left join new_id on (merged_dataset.brand = new_id.brand)")
merged_dataset.drop(['brand_id','brand_name'], axis = 'columns', inplace = True)
merged_dataset.isna().sum()
merged_dataset.info()

In [ ]:
print(merged_dataset['colour'].mode())
print(round(merged_dataset['avg_rating'].mean(),6))
print(merged_dataset['ratingCount'].mean())

In [ ]:
merged_dataset.fillna({'colour':'Black',"avg_rating":4.101193, "ratingCount":183.36121433078594}, inplace = True)
merged_dataset.isna().sum()

### Converting ratingCount to integer

In [ ]:
merged_dataset['ratingCount']=merged_dataset['ratingCount'].astype(int)

In [ ]:
merged_dataset.info()

### Filling Fabric_Purity and Sustainable columns

In [ ]:
pd.unique(merged_dataset['Fabric_Purity'])

In [ ]:
pd.unique(merged_dataset['Sustainable'])

In [ ]:
sqldf("select count(Sustainable) from merged_dataset where Fabric_Purity is null and Sustainable is not null")

In [ ]:
sqldf("select count(Fabric_Purity) from merged_dataset where Fabric_Purity is not null and Sustainable is null")

In [ ]:
sqldf("select Fabric_Purity, Sustainable from merged_dataset where Sustainable ='Sustainable' and Fabric_Purity is not null")

In [ ]:
sqldf("select Fabric_Purity, Sustainable from merged_dataset where Sustainable ='Regular' and Fabric_Purity is not null")

In [ ]:
sqldf("select Fabric_Purity, Sustainable from merged_dataset where Sustainable ='Sustainable' and Fabric_Purity is null")

In [ ]:
sqldf("select Fabric_Purity, Sustainable from merged_dataset where Sustainable is not null and Fabric_Purity = 'Synthetic'")

In [ ]:
sqldf("select count(Fabric_Purity) from merged_dataset where Sustainable is null and Fabric_Purity = 'Blended'")

In [ ]:
sustainable = sqldf("select Fabric_Purity, Sustainable from merged_dataset where Sustainable ='Sustainable' and Fabric_Purity is null")

In [ ]:
sustainable['Fabric_Purity']=sustainable['Fabric_Purity'].fillna('Pure')

In [ ]:
regular = sqldf("select Fabric_Purity, Sustainable from merged_dataset where Sustainable ='Regular' and Fabric_Purity is null")

In [ ]:
regular['Fabric_Purity'] = regular['Fabric_Purity'].fillna('Synthetic')

In [ ]:
sqldf("select distinct Fabric from merged_dataset where Fabric_Purity is not null")

In [ ]:
non_blended = sqldf("select * from regular union all select * from sustainable")
non_blended

In [ ]:
merged_dataset = sqldf("select merged_dataset.*, non_blended.* from merged_dataset join non_blended on(merged_dataset.Sustainable=non_blended.Sustainable)")

### Filling in remaining null values

In [ ]:
sqldf("select * from dataset_final where colour is null")

In [ ]:
avg_rating_mean = round(dataset_final["avg_rating"].mean(),6)

In [ ]:
dataset_final["ratingCount"].median()

In [ ]:
dataset_final["ratingCount"].mode()

In [ ]:
ratingCount_mean = dataset_final["ratingCount"].mean()

In [ ]:
colour_mode = dataset_final["colour"].mode()

>Exporting data for analysis using Apache MapReduce

In [ ]:
dataset_final.to_csv("final_dataset.csv", index = False)

In [ ]:
new_dataset = dataset_final.loc[:,['p_id', 'name','price','colour','brand','ratingCount','avg_rating','brand_id']]
new_dataset.to_csv("new_dataset.csv", index = False, header = False)

In [ ]:
dataset_final.info()

# Machine Learning

## Regression Modelling

## Pre-processing

In [ ]:
regression_data = dataset_final.loc[:,['price','avg_rating','ratingCount', 'brand_id','name','colour','brand','description','p_attributes']]

In [ ]:
le = preprocessing.LabelEncoder()

for i in regression_data.columns:
        if regression_data[i].dtype == object:
            regression_data[i] = le.fit_transform(regression_data[i])
        else:
            pass

In [ ]:
regression_data

In [ ]:
x_reg = regression_data.loc[:,['price','avg_rating','ratingCount','name','colour','description','p_attributes']]
y_reg = regression_data.loc[:,['brand_id']]

>Creating the training and testing datasets

In [ ]:
x_reg_train, x_reg_test, y_reg_train, y_reg_test = train_test_split(x_reg, y_reg, test_size=0.25)

print("Your independent training dataset contains ", x_reg_train.shape, " rows and columns.")
print("Your independent testing dataset contains ", x_reg_test.shape, " rows and columns.")
print("Your dependent training dataset contains ", y_reg_train.shape, " rows and columns.")
print("Your dependent testing dataset contains ", y_reg_test.shape, " rows and columns.")

### Linear Regression

>Training the model

In [ ]:
LR = LinearRegression()

In [ ]:
LR.fit(x_reg_train, y_reg_train)

>Testing the model

In [ ]:
LR_predict = LR.predict(x_reg_test)
LR_predict

In [ ]:
print("Linear Regressor")
print("Mean Absolute Error: ", metrics.mean_absolute_error(y_reg_test, LR_predict))

### Bayesian Ridge Regression

In [ ]:
BayRidge = BayesianRidge()
BayRidge.fit(x_reg_train, y_reg_train)

In [ ]:
BayRidge_predict = BayRidge.predict(x_reg_test)
BayRidge_predict

In [ ]:
print("Bayesian Ridge Regressor")
print("Mean Absolute Error: ", metrics.mean_absolute_error(y_reg_test, BayRidge_predict))

In [ ]:
dataset_final.info()

## Classification Modelling

>Pre-processing

In [ ]:
classification_data = dataset_final.loc[:,['name','colour','brand', 'brand_id','description','p_attributes']]
classification_data

In [ ]:
le = preprocessing.LabelEncoder()

for i in classification_data.columns:
        if classification_data[i].dtype == object:
            classification_data[i] = le.fit_transform(classification_data[i])
        else:
            pass

In [ ]:
classification_data

>Creating the training datasets

In [ ]:
x_class = classification_data.loc[:,['name','colour','description','p_attributes']]
y_class = classification_data.loc[:,['brand']]

In [ ]:
x_class

In [ ]:
x_class_train, x_class_test, y_class_train, y_class_test = train_test_split(x_class, y_class, test_size=0.25)

print("Your independent training dataset contains ", x_class_train.shape, " rows and columns.")
print("Your independent testing dataset contains ", x_class_test.shape, " rows and columns.")
print("Your dependent training dataset contains ", y_class_train.shape, " rows and columns.")
print("Your dependent testing dataset contains ", y_class_test.shape, " rows and columns.")

### Gaussian Naive Bayes Classifier

In [ ]:
GNB = GaussianNB()

In [ ]:
GNB.fit(x_class_train, y_class_train)

In [ ]:
GNB_predict = GNB.predict(x_class_test)

In [ ]:
print("Gaussian Naive Bayes Classifier")
print("Accuracy:", round((metrics.accuracy_score(y_class_test, GNB_predict))*100,2),"%")

### Decision Tree Classifier

In [ ]:
dtree = DecisionTreeClassifier()
dtree = dtree.fit(x_class_train, y_class_train)

In [ ]:
dtree_predict = dtree.predict(x_class_test)

In [ ]:
print("Decision Classifier")
print("Accuracy:", round((metrics.accuracy_score(y_class_test, dtree_predict))*100,2),"%")